/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Lato', sans-serif;
}

.navbar-collapse .navbar-nav li a {
	font-size: 14px;
	color: white;
}

.navbar-collapse .navbar-nav .contact a {
	background: gray;
	color: darkslategray;
}

#education .col-md-4 h1 {
	font-size: 17px;
	margin: 0;
}



/* #uw {
	color: blueviolet;
}

#su {
	color: firebrick;
}

#uot {
	color: steelblue;
}
 */
#education .col-md-4 ul li {
	margin-left: -23px;
}

.about hr {
	size: 3px;
	color: darkslategray;
}

.quotation {
	color: white;
	text-align: center;
	margin-top: 50px;
	width: auto;
	font-size: 42px;
}

.quotation h1 {
	margin-right: 15%;
	margin-left: 15%;
}

.su h3 {
	color: gray;
}

.quotation a {
	margin-top: 20%;
	color: white;
	font-size: 16px;
}

#portfolio {
	background: black; 
	width: 100%; 
	height: auto; 
} 

.project a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.project a:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.project {
	position: relative;
	width: 325px;
	height: auto;
	margin: 0 50px 0 50px;
}

.project a {
	width: 325px;
	height: auto;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.project span {
/* 	position: absolute; */
	margin-top: 10px;
	margin-bottom: 20px;
	z-index: -1;
	display: block;
	width: 325px;
	font-size: 18px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.project a:hover+span {
	bottom: -36px;
	opacity: 1;
}

.projects {
	padding: 0;
}

.projects:last-child {
	padding-bottom: 60px;
}
.projects::after {
	content: '';
	clear: both;
	display: block;
}